 *{
            margin:0;
            padding:0;
            box-sizing:border-box;
        }

        body{
            font-family:Arial, Helvetica, sans-serif;
        }

        .about-section{
            width:100%;
            min-height:100vh;
            display:flex;
            align-items:center;
            background:
            linear-gradient(rgba(0,0,0,.35),rgba(0,0,0,.35)),
            url("/travelRecommendation/background.jpg") center center/cover no-repeat;
        }

        .overlay{
            position:absolute;
            inset:0;
            background:rgba(0,0,0,.35);
        }

        .content{
            position:relative;
            z-index:2;
            color:#fff;
            width:100%;
            max-width:1300px;
            margin:auto;
            padding:80px 8%;
        }
        
        h1{
            font-size:clamp(2.5rem,6vw,4.5rem);
            font-weight:700;
        }

        .about-box{
            width:100%;
            max-width:1100px;
            padding:20px;
            margin-bottom:50px;
            line-height:1.8;
        }

      
        .team-section{
            width:100%;
            max-width:1100px;
            padding:30px 20px;
        }

       .team-title{
            font-size:clamp(2rem,5vw,4rem);
            font-weight:700;
            line-height:1;
        }

        .team-member{
            text-align:center;
            color:#fff;
            padding:15px;
        }
        
        .team-member h5{
            font-size:1.25rem;
        }
        
        .team-member p{
            font-size:.95rem;
        }

        .member-icon{
            width:70px;
            height:70px;
            border-radius:50%;
            background:#fff;
            display:flex;
            justify-content:center;
            align-items:center;
            margin:0 auto 15px;
        }
        
        .member-icon i{
            font-size:30px;
            color:#555;
        }


        .badge-role{
            background:#1f5f99;
            padding:6px 16px;
            border-radius:20px;
            font-size:13px;
        }
       

        @media(max-width:1350px){
          .social-icons{
            display: none;
          }
        }

      