*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}
    

.navbar {
    padding: 12px 20px;
    background-color: #0F2D3A;
    box-shadow: 0 2px 8px rgba(68, 5, 5, 0);
}

.logo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.company-name {
    font-size: 1.4rem;
    font-weight: bold;
    color: #F0F2F3;
}

.nav-item a {
    font-weight: 500;
    margin: 0 10px;
    color: #E3E2E3;
    
}

.navbar-nav .nav-item a.active {
    color: white;
}


.hero{
    width: 100%;
    min-height: 100vh;

    background: linear-gradient(rgba(0,0,0,.35), rgba(0,0,0,.35)),
                url("/travelRecommendation/background.jpg") center center / cover no-repeat;

    position: relative;
}

/* Social Icons */

.social-icons{
    position:absolute;
    left:25px;
    top:50%;
    transform:translateY(-50%);
    display:flex;
    flex-direction:column;
    gap:22px;
    
}

.social-icons a{
    color:white;
    font-size:24px;
    text-decoration:none;
    transition:.3s;
}

.social-icons a:hover{
    color:#13b7a5;
}

/* Content */

.hero-content{
    position:absolute;
    top:50%;
    left:140px;
    transform:translateY(-50%);
    color:white;
    width:800px;
}

.hero-title{
    font-size:64px;
    font-weight:800;
    line-height:1.05;
    margin-bottom:35px;
}

.hero-description{
        max-width: 800px;
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        color: white;
        line-height: 1.8;
}

.btn-book{
    background:#18a999;
    color:white;
    border:none;
    padding:12px 30px;
    border-radius:6px;
    font-weight:bold;
}

.btn-book:hover{
    background:#0f8b7c;
}

.search-container {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 30px;
    padding: 5px 8px;
    width: 500px;
    height: 48px;
}

.search-icon {
    color: #18a999;
    font-size: 18px;
    margin: 0 10px;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 15px;
}

.search-input::placeholder {
    color: #6c757d;
    
}

.btn-search,
.btn-clear {
    background: #18a999;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px 15px;
    margin-left: 8px;
    font-size: 14px;
}

.btn-search:hover,
.btn-clear:hover {
    background: #138b7d;
}