.hidden{
    display:none !important;
}

.search-result{

    display:none;

    width:100%;

}

.search-result.show{

    display:block;

}

.results-container{

    display:flex;
    flex-wrap:wrap;
    gap:20px;
    width: auto;

}
.search-title{
    font-size:clamp(2.4rem,6vw,4.5rem);
    font-weight:800;
    line-height:1.1;
    margin-bottom:25px;
    color: #CB6706;
}

.result-card{
    flex: 0 0 calc(50% - 12.5px);
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

.result-card img{

    width:100%;
    height:140px;

    object-fit:cover;

}

.result-card h3{

    margin:8px;
    font-size:22px;
    color:#001f5b;

}

.result-card p{

    margin:8px;
    font-size:14px;
    text-align:center;
    color: black;

}

@media (max-width: 768px){
    .result-card{
        flex: 0 0 100%;
    }
}